<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body style="font: 14px Arial, Helvetica, sans-serif">
        <h1 style="color: red; font-size: 26px" th:text="#{order.canceled}">Order Canceled</h1>
        <p th:text="#{order.canceled.message(${order.customer.name})}"></p>
        <h2 style="font-size: 20px" th:text="${order.restaurant.name}">Restaurant Name</h2>
        <table width="100%" border="0" cellspacing="0" cellpadding="0"
               style="max-width: 600px; color: #6F6F6F">
            <tr th:each="item : ${order.items}">
                <td style="padding: 10px 0" th:text="${item.amount} + 'x ' + ${item.product.name}">2x Requested Food</td>
                <td style="width: 30px" th:text="${#numbers.formatCurrency(item.total)}">$ 10.00
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0" th:text="#{delivery}">Delivery</td>
                <td style="width: 30px" th:text="${#numbers.formatCurrency(order.deliveryFee)}">$ 5.00
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0"><b>Total</b></td>
                <td style="width: 30px" th:text="${#numbers.formatCurrency(order.total)}">$ 15.00</td>
            </tr>
        </table>
        <h2 style="font-size: 20px" th:text="#{paymentMethod}">Payment Method</h2>
        <p style="color: #6F6F6F" th:text="${order.paymentMethod.description}">Payment Method</p>
    </body>
</html>